$std-bg: #bba978;

$std-white: #FFF; 
$std-black: #000003;
$std-black1: #303437;
$std-black2: #080f15;
$std-gold: #d7c186;
$std-gold2: #af7923;
$std-grey: #717171;



//Sizes

$global-width: 100%;
$global-bg-size: 100%;
$content-width: 99.8rem;