/* Layout */
html{
	height: 100%;
	-ms-text-size-adjust: 100%; 
 	-webkit-text-size-adjust: 100%; 
 	-moz-text-size-adjust: 100%;
	font-size:x-small;
	
}




body{
	background:$std-bg;
    background-size: cover;
	background-position:center;
	width: 100%;
	height: 2000px;
	position: relative;
	z-index:0;
}


