/* Colors */



/* Backgrounds */
$std-white: #FFF;
$std-bg: #31353a;

$std-bg-footer-1:#0096d6;
$std-bg-footer-2:#00b274;
$std-bg-footer-3:#d75ba2;
$std-bg-footer-4:#e9ac40;

$std-bg-footer:#5281a7;

/* Colors */

$std-color-1:#ccc; 
$std-color-2:#7d8691; 
$std-color-3:#ddd;
$std-color-4:#e4e4e4;
$std-color-5:#999;
$std-white-color:#fff;
$std-black-color: #000;


