*{
	margin:0;
  	padding:0;
	list-style:none;
	text-decoration:none;
	
	/*color:rgb(0,0,0);*/
}


body{
	background-color: rgba(254,238,27,1.00);
    -moz-background-size:cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
	background-position:center;
	width: 100%;
	height: 3200px;
}
#main-contenedor{
	width:100%;
	min-width:1030px;
	height: 25%;
	float:left;
	overflow:hidden;
	background: url(fondos/DSC_9520.JPG) center center no-repeat fixed;
	background-size: cover;
	background-attachment: fixed;
	
	
}


#logo{
	width: 100%;
	height: 100%;
	/*float:left;*/
	background:url(imagenes/diamantecolor.png) no-repeat fixed center center;
	background-size:40%;
	background-attachment: fixed;
}

#articuloportada{
	text-align: left;
	float:right;
	text-transform:uppercase;
	width: 30%;
	height: 25%;
	margin-top: 30%;
	margin-right: 5%;
	color:white;
}

#articuloportada h1{
	margin-bottom: 5%;
	font-size: 2em;
}
#main-contenedor2{
	width: 100%;
	min-width: 1030px;
	height: 25%;
	float:left;
	overflow:hidden;
	background: url(fondos/DSC_9572.JPG) center center no-repeat fixed;
	background-size: cover;
	background-attachment: fixed;

}


#articulomundo{
	
	text-transform: uppercase;
	width: 40%;
	height: 30%;
	margin-top: 30%;
	margin-left: 6%;

}
#articulomundo h1{
	margin-bottom: 5%;
}
#main-contenedor3{
	width: 100%;
	min-width: 1030px;
	height: 25%;
	float:left;
	overflow:hidden;
	background: url(fondos/DSCN0248tokluz.jpg) center center no-repeat fixed;
	background-size: cover;
	background-attachment: fixed;

}
#main-contenedor31{
	width: 100%;
	min-width: 1030px;
	height:100%;
	float:left;
	overflow:hidden;
	background: url(fondos/mundodoradoportatilsolocopia.png) center center no-repeat fixed;
	background-size: cover;
	background-attachment: fixed;

}
#main-contenedor4{
	width: 100%;
	min-width: 1030px;
	height: 25%;
	float:left;
	overflow:hidden;
	background: url(fondos/DSC_9562.JPG) center center no-repeat fixed;
	background-size: cover;
	background-attachment: fixed;

}