@import url(http://fonts.googleapis.com/css?family=Nunito:300);

@mixin font-face($font-family, $font-url, $font-name) {
  @font-face {
    font: {family: $font-family;}
    src: url($font-url + '/' + $font-name + '.eot');
    src: url($font-url + '/' + $font-name + '.eot?#iefix') format('embedded-opentype'),
         url($font-url + '/' + $font-name + '.woff') format('woff'), 
         url($font-url + '/' + $font-name + '.ttf')  format('truetype');
  }
}



@include font-face(gillsans, fonts, gillsans);
@include font-face(gillsansstd, fonts, gillsansstd);
@include font-face(gillsansstdbold, fonts, gillsansstdbold);
@include font-face(gillsansstdlight, fonts, gillsansstdlight);

%fontTitle{
  font-family: "Nunito", sans-serif;
  
}


%fontnormal{
	font-family: gillsansstdlight, Arial, "Helvetica Neue", Helvetica, sans-serif;
	
}

%fontbold{
	font-family: gillsansstdbold, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

