%hidden-accessible {
	position: absolute !important;
	height: 1px; 
	width: 1px; 
	overflow: hidden; 
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ 
	clip: rect(1px, 1px, 1px, 1px); 
	padding:0!important;/* IE6, IE7 */ 
	line-height: 0;/* IE6, IE7 */ 
	text-indent: -9000px;/* IE6, IE7 */ 
}


//TODO Check usage. is title a better option? 
.auralOnly{ 
	@extend %hidden-accessible; 
}

.hiddenWithoutJavaScript {
	display: none;
}