@charset "UTF-8";


%replace-text-by-image-base {
	text-indent:-9999px;
	border:none;
	white-space: nowrap;
	overflow: hidden;
}

@mixin ico($img,$position:0 0,$size:initial,$color:transparent,$repeat: no-repeat) {
    background: {
    	color: $color;
    	image: url($img+".png");
        image: url($img+".svg"), none;
        position: $position;
        repeat: $repeat;
        size: $size;
    }
}

@mixin replaceTextWithImage($img, $width, $height) {
	@extend %replace-text-by-image-base;
	width: $width; 
 	height: $height;
 	@include ico($img);
}


@mixin calc($property, $expression) { 
    #{$property}: -webkit-calc(#{$expression}); 
    #{$property}: -moz-calc(#{$expression}); 
    #{$property}: calc(#{$expression}); 
}

@mixin bg-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}
