@charset "UTF-8";

$public-accesibility: false !default;

//Utilities
@include fwClass(hidden-accessible, $public-accesibility) {
	position: absolute; 
	border: 0; 
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px; 
	margin: -1px; 
	overflow: hidden; 
	padding: 0; 
}

