

footer{
	float:left;
	width: 100%;
	height: 20%;
	color:$std-color-1;
	font-size:12px;
	position:relative;
	z-index:-2;
	background-color:$std-bg;
}

/* Set a width to the outermost UL and center it */

footer > ul{
	width:95;
	margin:0 auto;
	position:fixed;
	left:50%;
	bottom:15%;
	margin-left:-480px;
	padding-bottom: 60px;
	z-index:-1;
}

/* The four columns of links */

footer ul {
	
		list-style: none;
		
		overflow:hidden;


		li{
			width:25%;
			float:left;

			ul {

				margin:0;
				padding:0;
				height:auto;
				position:relative;
				li{
					width:100%;
					margin-left:1rem;
					text-transform: uppercase;
					font-weight:bold;
					line-height:1.8;
				}
			}
			p{
				width: 20rem;
				line-height: 3.6rem;
				padding:0 1rem 0 1rem;
				margin:0 0 1.5rem 0;
				font-weight: bold;
				font-size: 14px;
				color:$std-white-color;
				text-transform: uppercase;

				opacity:0.8;
				cursor:default;

				-webkit-transition: opacity 0.9s;
				-moz-transition: opacity 0.4s;
				transition: opacity 0.4s;

				&.home{background: $std-bg-footer-1;}
				&.services{background: $std-bg-footer-2;}
				&.reachus{background: $std-bg-footer-3;}
				&.clients{background: $std-bg-footer-4;}
			}

			&:hover p{
				opacity:1;
			}	
		}
		
	a{
		text-decoration: none;
		color:$std-color-2;

		&:hover{
			color:$std-color-3;
		}

		&.logo{
			color: $std-color-4;
			font-size: 14px;
			font-weight: bold;
			position: relative;
			text-transform: uppercase;
			margin-left: 16px;
			display: inline-block;
			margin-top: 7px;

			i{
				font-style: normal;
				display:inline-block;
				font-size: 12px;
				margin-left:2.8rem;
				color:$std-color-5;
			}
		}
	}
	
}




