
section{
	width:100%;
	float:left;
	overflow:hidden;
	display:inline-block;
	position:relative;
}

section:nth-child(1){

		background: url(img/diamond.svg) 50% 50% no-repeat fixed , $std-bg center center no-repeat fixed;
		background-size:  90%, cover;
		background-attachment: fixed;
		height:50%;
		
		&.alt{
			background: url(img/diamond2.svg) 50% 50% no-repeat fixed , $std-bg center center no-repeat fixed;
			background-size: 90%, cover;
		}

	article {
		text-align: left;
		position:absolute;
		right:17%;
		bottom:4%;
		text-transform:uppercase;
		width:70%;
		height: 38%;
		color:$std-black-color;
		
		h1{
			font-size: 2em;
		}
		p{margin:0 0 1rem 0;}
	}
}

