
section{
	width:100%;
	min-width:1030px;
	float:left;
	overflow:hidden;
	display:inline-block;
	position:relative;
	&:nth-child(1){
		background: url(img/diamond.svg) 50% 25% no-repeat fixed , url(img/bk01.jpg) center center no-repeat fixed;
		background-size:  30%, cover;
		background-attachment: fixed;
		height: 45%;
		
	}

	&:nth-child(2){
		overflow:hidden;
		background: url(img/bk02.jpg) center center no-repeat fixed;
		background-size: cover;
		background-attachment: fixed;
		height: 35%;
	}
}

section:nth-child(1){
	article {
		text-align: left;
		position:absolute;
		right:5%;
		top:30%;
		text-transform:uppercase;
		width: 30%;
		height: 50%;
		
		color:$std-black-color;
		h1{
			font-size: 2em;
		}
		p{margin:0 0 1rem 0;}
	}
}

section:nth-child(2){

	
	ul{

		position:absolute;
		top:35%;
		width:100%;

		li{
			display:inline-block;
			width:9.6rem;
			heigth:9.6rem;
			overflow:hidden;
			padding:3% 8%;
			margin-right: 1%;
			border-radius:50%;
			
			span{display:none;}	

			
		 &.web{background: url('img/sprite.svg') center top no-repeat;} 
         &.mobile {background: url('img/sprite.svg') center -10rem no-repeat;}
		 &.ux {background: url('img/sprite.svg') center -20rem no-repeat;}
		 &.iot {background: url('img/sprite.svg') center -30rem no-repeat;}

			
		}
	}
}

