section{

	min-width:1030px;

	&:nth-child(1){
		background-size:  30%, cover;
		height: 45%;


		article {
			
			right:5%;
			top:30%;
			width: 30%;
			height: 50%;
		}
		
	}

	&:nth-child(2){
		height: 35%;

		article ul {
			position:absolute;
			top:25%;
			width:100%;
			margin:0;

			li{
				width:1%;
				
				margin: 0 1% 0 0;
				padding:11%;
			}
		}
	}

}