section:nth-child(2){

	overflow:hidden;
		background: $std-bg no-repeat fixed;
		background-size: cover;
		background-attachment: fixed;
		height:35%;


	ul{
		
		position:relative;
		margin:2rem auto;
		top:0;
		width:90%;
		padding:0;
		text-align:center;

		li{
			display:inline-block;
			width:3%;
			height:80%;
			overflow:hidden;
			padding:18%;
			margin:1rem 1rem;
			border-radius:50%;
			
			span{display:none;}	

			
		 &.web{background: url('img/web.svg') center center no-repeat, rgba($std-white, 0.3); background-size:50%, contain;} 
         &.mobile {background: url('img/mobile.svg') center center no-repeat, rgba($std-white, 0.3); background-size:28%, contain;}
		 &.ux {background: url('img/ux.svg') center center no-repeat, rgba($std-white, 0.3); background-size:43%, contain;}
		 &.iot {background: url('img/iot.svg') center center no-repeat, rgba($std-white, 0.3); background-size:50%, contain;}

			
		}
	}
}

// Section.lg numbertwo

// &:nth-child(2){
// 		height: 35%;

// 		article ul {
// 			position:absolute;
// 			top:25%;
// 			width:100%;
// 			margin:0;

// 			li{
// 				width:1%;
				
// 				margin: 0 1% 0 0;
// 				padding:11%;
// 			}
// 		}
// 	}
