
section{
	width:100%;
	float:left;
	overflow:hidden;
	display:inline-block;
	position:relative;
	&:nth-child(1){
		background: url(img/diamond.svg) 50% 25% no-repeat fixed , url(img/bk01.jpg) center center no-repeat fixed;
		background-size:  63%, cover;
		background-attachment: fixed;
		height: 24%;
		
	}

	&:nth-child(2){
		overflow:hidden;
		background: url(img/bk02.jpg) center center no-repeat fixed;
		background-size: cover;
		background-attachment: fixed;
		height: 45%;
	}
}

section:nth-child(1){
	article {
		text-align: left;
		position:absolute;
		right:17%;
		bottom:0%;
		text-transform:uppercase;
		width: 30%;
		height: 38%;
		color:$std-black-color;
		
		h1{
			font-size: 2em;
		}
		p{margin:0 0 1rem 0;}
	}
}

section:nth-child(2){

	
	ul{

		position:absolute;
		top:25%;
		width:100%;

		li{
			display:inline-block;
			width:1%;
			height:80%;
			overflow:hidden;
			padding:11%;
			margin-right: 1%;
			border-radius:50%;
			
			span{display:none;}	

			
		 &.web{background: url('img/web.svg') center center no-repeat, rgba($std-white, 0.3); background-size:50%, contain;} 
         &.mobile {background: url('img/mobile.svg') center center no-repeat, rgba($std-white, 0.3); background-size:28%, contain;}
		 &.ux {background: url('img/ux.svg') center center no-repeat, rgba($std-white, 0.3); background-size:43%, contain;}
		 &.iot {background: url('img/iot.svg') center center no-repeat, rgba($std-white, 0.3); background-size:50%, contain;}

			
		}
	}
}

