
section{
		display:table;
		background: url(img/diamond.svg) 50% 50% no-repeat;
		background-size: 90%;
		height:100vh;
		width:100%; 
		position:relative;
		
 	ul {	
		list-style: none;
		overflow:hidden;
		display:table-cell;
		vertical-align:bottom;	
		text-align:center;
		margin:0 auto; 
		padding:0;

		li{
			
			display:inline-block;
			padding: 0 0 1rem 0;

			p{
				
				line-height: 3.6rem;				
				font-weight: bold;
				font-size: 1.4rem;
				color:$std-black-color;
				opacity:0.8;
				margin:0;
				padding:0;
				cursor:default;
				-webkit-transition: opacity 0.9s;
				-moz-transition: opacity 0.4s;
				transition: opacity 0.4s;
				border-top-left-radius: 10px;
				border-bottom-right-radius: 10px;

				&:after{
					color:#4e6e95;
					padding:0 0.5rem;
					content:"-"
				}
			}

			&:hover p{
				opacity:1;
			}

			&:last-child{
				p:after{
					content:"";
				}
			}
		}
		
		a{
			text-decoration: none;
			color:$std-color-2;

			&:hover{
				color:$std-color-3;
			}

			
		}
 	}
	
}

